- Importar el dataset
- Imprimir los primeros 5 datos
- Encontrar la longitud del dataset
- Imprimir los encabezados
- Obtener un sub dataFrame con películas desde 1980 hasta la actualidad
- Dado el sub data Frame anterior: encontrar la película más corta, la menos rentable y el promedio de duración
- Encontrar la desviación estándar de las calificaciones de la película en el sub dataFrame • Encontrar el promedio de votos agrupados género
- Encontrar los directores y el número de ocurrencias en el dataset, ordenados descendentemente
- Encontrar la películas mejor calificadas y que pertenezcan incluyan estos 3 géneros (Horror, Mystery, Sci-Fi)

In [1]:
import numpy as np
import pandas as pd

In [6]:
# Importar el dataset
df = pd.read_csv('./Horror Movies IMDb.csv')

In [9]:
# Imprimir los primeros 5 datos
df.head(5)

,Movie Title,Movie Year,Runtime,Genre,Rating,Director,Votes,Gross
0,Alien,1979,117,"Horror, Sci-Fi",8.5,Ridley Scott,"9,05,275",$78.90M
1,Psycho,1960,109,"Horror, Mystery, Thriller",8.5,Alfred Hitchcock,"6,89,068",$32.00M
2,The Shining,1980,146,"Drama, Horror",8.4,Stanley Kubrick,"10,51,582",$44.02M
3,The Thing,1982,109,"Horror, Mystery, Sci-Fi",8.2,John Carpenter,"4,39,793",$13.78M
4,Tumbbad,2018,104,"Drama, Fantasy, Horror",8.2,Rahi Anil Barve,"53,297",NaN

In [17]:
# Encontrar la longitud del dataset

filas, columnas = df.shape
print(f'Filas: {filas} \nColumnas: {columnas}')

Filas: 836
Columnas: 8

In [23]:
# Imprimir los encabezados
[print(column) for column in list(df.columns)]

Movie Title
Movie Year
Runtime
Genre
Rating
Director
Votes
Gross

[None, None, None, None, None, None, None, None]